<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="logs/app"/>
    <property name="LOG_DIR_SPLUNK" value="G:/WORK/Docker/Splunk/logs_systems"/>

    <!--    Log console-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        	  <includeContext>false</includeContext>
              <includeCallerData>false</includeCallerData>
            
            <timeZone>GMT-3</timeZone>
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampPattern>
            
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <message>message</message>
                <thread>thread</thread>
                <logger>logger</logger>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
                <caller>[ignore]</caller>
                <stackTrace>exception</stackTrace>
                <!-- <mdc>context</mdc> -->
            </fieldNames>

          	
        </encoder>
    </appender> 


    <!--    Exemplo 1 - saida log é anexado somente em um arquivo -->
    <appender name="splunk" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR_SPLUNK:-env/}/splunk.txt</file>
        <append>true</append>
         <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        	<providers>
        	<mdc/>
        	 <pattern>
			      <pattern>
			        { 
			          "timestamp": "%d{dd-MM-yyyy HH:mm:ss.SSS}", 
			          "logger_name": "%logger{35}", 
			          "thread_name": "%thread",
			          "level": "%-5level", 
			          "message": "#tryJson{%message}"
			        }
			      </pattern>
			    </pattern>
          	</providers>
        </encoder>
    </appender>

    
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="splunk"/>
    </root>
</configuration>
