<configuration>

	 <include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	  
	 <Appender name="splunkWeb" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
		<url>http://localhost:8000</url>
		<token>Admin123*</token>
		<source>splunktest</source>
        <sourcetype>battlecat</sourcetype>
		<index>admin</index>
		<disableCertificateValidation>true</disableCertificateValidation>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%msg</pattern>
		</layout>
	</Appender>
	
	<logger name="splunk.logger" additivity="false" level="INFO">
        <appender-ref ref="splunkWeb"/>
    </logger>


    <root level="info">
        <appender-ref ref="splunkWeb"/>
    </root> 

<!-- org.springframework.boot.logging.logback -->

</configuration>