<!--
<configuration>

    <appender name="mask" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        	  <includeContext>true</includeContext>
              <includeCallerData>false</includeCallerData>
              <timeZone>GMT-3</timeZone>
              <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampPattern>
              <shortenedLoggerNameLength>36</shortenedLoggerNameLength>
              
              
              <fieldNames>
                <timestamp>timestamp</timestamp>
                <message>message</message>
                <thread>[ignore]</thread>
                <logger>logger</logger>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
                <caller>[ignore]</caller>
                <stackTrace>exception</stackTrace>
                
            </fieldNames>
              
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMasker class="com.example.kafka.producer.utils.MaskingConverter"/>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="mask" />
    </root>

</configuration>
-->


<configuration>

    <appender name="mask" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
           	   <timestamp>
                 <fieldName>timestamp</fieldName>
                 <timeZone>GMT-3</timeZone>
                </timestamp>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                </callerData>
                <mdc/>
                <arguments>
                    <includeNonStructuredArguments>false</includeNonStructuredArguments>
                </arguments>
                <stackTrace>
                    <fieldName>stack</fieldName>
                </stackTrace>
        
                <pattern>
                    <pattern>
                        {
                             <!-- "level": "%level",
                            "thread": "%thread",
                            "logger": "%logger",
                              -->
                              
                            "message": "#tryJson{%msg}"
                        }
                    </pattern>
                </pattern>
             
                
            </providers>
            
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMasker class="com.example.kafka.producer.utils.MaskingConverter"/>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="mask" />
    </root>

</configuration>
 <!-- 
<configuration>
 <appender name="mask" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - #tryJson{%msg}%n</pattern>
        </encoder>
    </appender>
    
    
</configuration>
 -->
<!--


<configuration>
	<conversionRule conversionWord="maskedMsg"
		converterClass="ph.samson.logback.luhn.LuhnMaskingConverter" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		
			<pattern>%date [%thread] - %maskedMsg%n</pattern>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>  -->